<header>
  <div class="header-container">
    <div class="logo-container">
      <h1 aria-label="Enterprise Management System">
        Enterprise Management System
      </h1>
    </div>
    <div class="right-menu">
      <mat-form-field class="custom-form-field" appearance="fill">
        <input matInput placeholder="Search" aria-label="Search input field" />
      </mat-form-field>
      <button mat-icon-button aria-label="Search">
        <mat-icon class="search-icon" fontIcon="search"></mat-icon>
      </button>
      <div class="link-container">
        <a routerLink="/login" aria-label="Go to Login page">Login</a> |
        <a routerLink="/register" aria-label="Go to Register page">Register</a>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="main-container">
    <h2 id="welcome-heading">Welcome to FluxERP</h2>
    <h3>Empowering Your Business Management</h3>
    <img
      src="../../../assets/enterprise-systems-management.jpg"
      alt="Enterprise Systems Management"
      aria-labelledby="welcome-heading"
    />
  </div>
</main>
<footer class="fixed-footer">
  <p>© 2025 FluxERP. This is a placeholder for copyright purposes</p>
</footer>
