<header>
  <div class="header-container">
    <div class="logo-container">
      <a routerLink="/">Enterprise Management System</a>
    </div>
    <div class="right-menu">
      <mat-form-field class="custom-form-field" appearance="fill">
        <input matInput placeholder="Search" />
      </mat-form-field>
      <button mat-icon-button aria-label="Search">
        <mat-icon class="search-icon" fontIcon="search"></mat-icon>
      </button>
      <div class="link-container">
        <a routerLink="/login">Login</a> |
        <a routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="main-container">
    <h2>Welcome to FluxERP</h2>
    <h3>Empowering Your Business Management</h3>
    <img
      src="../../../assets/enterprise-systems-management.jpg"
      alt="Enterprise Systems Management"
    />
  </div>
</main>
<footer class="fixed-footer">
  <p>© 2025 FluxERP. This is a placeholder for copyright purposes</p>
</footer>
